div(class="card wikicard") 
  div(class="card-body") 
    div(class="card-title" style="font-weight:bold") First & Last name
    div(class="card-subtitle mb-2 text-muted" style="font-weight:bold") USA President
    div(class="list-group list-group-flush")
      li(class="list-group-item wiki-country") Country
      li(class="list-group-item wiki-primary") Primary
      li(class="list-group-item wiki-secondary") Secondary
      li(class="list-group-item wiki-daterange") Date Range
      li(class="list-group-item wiki-link") Wiki Link