/*set the tabs content color*/
#tabs-1
{
	background-color: pink;
}
#tabs
{
	border:0;
	padding:0;
}

/*set the height of tabs bar*/
	
.ui-tabs .ui-tabs-nav
{
	height:25px;

}

.ui-tabs-anchor
{
	height:20px;
	font-size:12px;
	background-color: #47a447;
	padding-top:2px;
	padding-bottom:0;
	font-style: italic;
}

#sourceTabs{
	padding:0;
}

div.col-md-4.well.well-lg{
	margin-right: 0;
}

div.ui-tabs-panel.ui-widget-content.ui-corner-bottom
{
	padding-top:0;
}

#summary1{
	padding:0;
}
tr:nth-child(even){background-color: #f2f2f2}



