<script src="js/bootstrap3-typeahead.js"></script>
<script src="js/bootstrap-tagsinput.js"></script>
<div class="panel panel-success">

    <div class="panel-heading">
    <div class="row">
    <div class="col col-sm-6">
    <h4>Fast Arabic Actor Coding (PERSON ENTITY)</h4>
    </div>
    <div class="col col-sm-2">
    <button class="btn btn-primary btn-sm">Switch To Org Entity</button>
    </div>
	</div>
	<!-- <div class="row"></div>
    	
    </div> -->
    <div class="panel-body">
     <div id="fastactor" class="row well">
              <div class="col col-sm-3" id="arabicentity"></div>
            <!--   <div class="col col-sm-2">
                  <input type="checkbox">Person Entity?</input>
              </div> -->
              <div class="col col-sm-2">
                <button class="btn btn-primary btn-sm" id="fast-start" data-status="start"> <i class="fa fa-clock-o" aria-hidden="true" style="padding:2px"></i><strong>START</strong></button>
              </div>
               <div class="col col-sm-2">
                <button class="btn btn-success btn-sm" id="fast-commit" data-status="commit"> <i class="fa fa-floppy-o" aria-hidden="true" style="padding:2px"></i><strong>COMMIT</strong></button>
              </div>

              <div class="col col-sm-2">
              	  <button class="btn btn-danger btn-sm" id="fast-skip"><i class="fa fa-step-forward" aria-hidden="true" style="padding:2px"></i><strong>Skip</strong></button>
              </div>
      </div>
      <div class="row well well-sm">
		<input id="country" type="search" placeholder="Country..." data-provide="typeahead" />
		</div>
		
		 <div class="row well well-sm">
		<input id="firstrole" type="search" placeholder="Primary..." data-provide="typeahead" />
		</div>
		 <div class="row well well-sm">
		<input id="secondrole" type="search" placeholder="Secondary..." data-provide="typeahead" />
		</div>
     
      <div class="row well well-sm">
 
      <strong>Related Sentences</strong>
      	<div class="container" style="margin:3px;background: bisque" id="sen1">
      	</div>
      	<div class="container" sstyle="margin:3px" id="sen2">
      	</div>
  	 	<div class="container" style="margin:3px;background: bisque" id="sen3">
      	</div>
  	 	<div class="container" style="margin:3px" id="sen4">
      	</div>
  	 	<div class="container" style="margin:3px;background: bisque" id="sen5">
      	</div>
     </div>
  </div>
 
  <script>
  	$(function(){
  		var timespent=0;
  		var start=0
  		var loadtime=0;
  		var loadstart=0;
  		$("#fast-start").on("click",function(){
  			$(this).prop("disabled",true);
  				$.ajax({
                method:"GET",
                url:"/getperentity",
                //url:"/api/actors",
                success:function(data)
                {
                	//paser the data into dictionary , this needs to be called
               		var result = JSON.parse(data);
                  $("#arabicentity").html(result.word);
                  var sentences=result.sentences;
                 // console.log(sentences);
                  $("#sen1").text("1."+sentences[0]);
                  $("#sen2").text("2."+sentences[1]);
                 /* $("#sen3").text("3."+sentences[2]);
                  $("#sen4").text("4."+sentences[3]);
                  $("#sen5").text("5."+sentences[4]);*/
                  start = new Date();
                  loadtime=new Date()-loadstart;
                 // console.log(data);
                  $("#fast-start").prop("disabled",false);
              },
               error: function (xhr, ajaxOptions, thrownError) {
			        console.log(xhr.status);
			        //alert(thrownError);
			      }
              });
  			
  		});

  		$("#fast-commit").on("click",function(){

  			timespent=new Date()-start;
  			alert("time spend: "+timespent);
  		});
   
   $("#country").tagsinput({
  typeahead: {
    source: function(query) {
      return $.get("/api/actorsnames");
    }
  }
});
   $("#firstrole").tagsinput({
  typeahead: {
    source: function(query) {
      return $.get("/api/agentsnames");
    }
  }
});

   $("#secondrole").tagsinput({
  typeahead: {
    source: function(query) {
      return $.get("/api/secondrolesnames");
    }
  }
});








  	})
  </script>



