<link rel="stylesheet" href="css/angular-datepicker.css">
<link rel="stylesheet" href="css/autocomplete.css">
<link rel="stylesheet" href="css/homepage.css">
<!-- SPELLS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<script src="js/jqueryAutocomplete.js"></script>
<script src="js/jqueryAddTab.js"></script>

  <style>
    .custom-combobox {
      position: relative;
      display: inline-block;
    }
    .custom-combobox-toggle {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      padding: 0;
    }
    .custom-combobox-input {
      margin: 0;
      padding: 5px 10px;
    }
  </style>
 
<div  ng-controller="mainController">
   <div class="container" >
      <div class="row">
         <div class="col-md-4 well well-lg" style="height:880px;padding-top:0">
            <div class="row  well well-sm">
               <div class="col-md-5">
               <button type="button" class="btn btn-success" style="padding:2px;width:100px;float:left;margin:10px" ng-click="signmeOut()">Sign Out</button>
                </div>
                <div class="col-md-7">
               <button id="trackYourPerformance" type="button" class="btn btn-success" style="padding:2px;width:160px;float:left;margin:10px">Track Your Performance</button>
               <div id="trackYourPerformanceDialog" hidden>
                   <ul class="list-group">
                    <li class="list-group-item">
                      <span  id="sourceCount" class="label label-default label-pill pull-xs-right"></span>
                      Source Items have been tagged by you. 
                      <a id="sourceFlagged"></a>
                       of them are flagged as not sure.
                    </li>
                    <li class="list-group-item">
                      <span id="verbCount" class="label label-default label-pill pull-xs-right"></span>
                      Verb Items have been tagged by you.
                      <a id="verbFlagged"></a> 
                      of them are flagged as not sure.
                    </li>
                    <li class="list-group-item">
                     <span id="sentenceCount" class="label label-default label-pill pull-xs-right"></span>
                     Whole Sentences have been tagged by you.
                    </li>
                  </ul> 
               </div>
                </div>
              </div>
            <div id="currentSentence" class="row well">
              <strong>{{wholeSentence}}</strong>
            </div>
            <div class="row well well-sm">
            <strong>Nouns:</strong>
            {{sentenceSource}}
              <div>
                <ul>
                    <li ng-repeat="source in sentenceSource" on-finish-render="ngRepeatFinished" class="sourceLink"><a href="#">{{source}}</a></li>
                </ul>
            </div>
            </div>
            <div class="row well well-small">
            <strong>Verb:</strong>
            {{sentenceVerb}}
            <div>
                <ul>
                    <li ng-repeat="verb in sentenceVerb" on-finish-render="ngRepeatFinished" class="verbLink"><a href="#">{{verb}}</a></li>
                </ul>
            </div>
            </div>
            <div class="row well well-sm">
            <div class="col-md-5">
               <button type="button" class="btn btn-success" style="padding:2px;width:120px;float:left;margin:10px" ng-click="nextSentence()">Next Sentence</button>
                </div>
                <div class="col-md-7">
               <button type="button" class="btn btn-success" style="padding:2px;width:160px;float:left;margin:10px" ng-click="commitSentence()">Commit Sentence</button>
                </div>
            </div>
            <div class="row well" id="adminWell">
              <div class="row well">
              <h3>Administration Tool</h3></div>
             <div class="row well">
               <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary" id="MostRecentActivityButton">Most Recent Activity</button>
                <button type="button" class="btn btn-primary" id="FlaggedSummaryButton">Flagged Summary</button>
                <button type="button" class="btn btn-primary" id="TotalFinishedButton">Total Finished</button>
              </div>
              <div id="MostRecentActivityDialog" hidden>  
              <div id="contextContainer">
              <label for="textarea">Sentence:</label>
               <textarea class="sentenceContext" id="sentenceContext1" style="width:850px">your sentence will be showed here</textarea>
               </div>
               <div><strong>Most Recent Source Items:</strong></div>             
                <div id="sourceSummaryTable">
                </div>
                 <div><strong>Most Recent Verb Items:</strong></div>             
                <div id="verbSummaryTable">
                </div>
              </div>
              <div id="FlaggedSummaryDialog" hidden></div>
              <div id="TotalFinishedDialog" hidden>
                 <div class="well well-sm"><strong>Sentences Summary Total: </strong><span id="sentenceCountTotal"></span></div>
                <fieldset class="the-fieldset">
                    <legend>Source Dictionary Summary  Total: <span id="sourceCountTotal"></span></legend>
                    <div id="sourcePie" class="well well-sm"></div>
                </fieldset>

                  <fieldset class="the-fieldset">
                    <legend>Verb Dictionary Summary  Total: <span id="verbCountTotal"></span></legend>
                    <div id="verbPie" class="well well-sm"></div>
                </fieldset>
              
            
              </div>

              </div>
            </div>
         </div>
         <div class="col-md-8">
            <div class="hidden" id="sourceHiddenForSentence" >{{sourceObjects}}</div>
            <div class="hidden" id="verbHiddenForSentence">{verbObjects}</div>
            <div class="heading row well well-sm" style="height:27px"><strong>Nouns Tagging Section</strong><div>
            <div id="tabs" class="source row well well-lg"  style="height:495px;margin-bottom:5px;">
               
               <ul id="sourceTabs">
                  <li><a href="#tabs-1" id="tabid1">Role</a></li>
                  <li><a href="#tabs-2" id="tabid2">Role-Summary</a></li>
               </ul>
               <div id="tabs-1">
                 <form id="sourceForm">
                         <div class="row" style="padding:0px">
                     <div class="col-md-6" style="font-weight:bold">
                       <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Source">Source
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Target">Target
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Other">Other
                          </label>
                     </div>
                     <div class="col-md-3 col-md-offset-3">
                        <!-- <button type="button" id="addSource" class="glyphicon glyphicon-plus" style="background-color:#5cb85c" >Add Another Role</button> -->
                         <button type="button" class="btn btn-success" id="addSource" style="padding:2px;width:150x;">Add Another Role</button>
                     </div>
                     </div>
                       
                  <strong>Source:</strong><input id="sourceWord">
                 
                  <div class="row" style="padding:2px">

                     <div class="ui-widget col-md-6">
                        <label>country </label>
                        <input hidden id="combobox0input" class="comboboxinput">
                        <select id='combobox0' class="comboboxGroup" ng-model="sourceForm.country" ng-options="item as item.name for item in actordata.availableOptions track by item.id" ></select>
                        <div>
                           <button id="toggle0">Hide Underlying Select</button>
                        </div>
                     </div>
                  </div>
                 
                  <div class="row" style="padding:2px">
                     <div class="ui-widget col-md-6">
                        <label>1st role</label>
                        <input hidden id="combobox1input" class="comboboxinput"/>
                        <select id='combobox1' class="comboboxGroup" ng-model="sourceForm.rolefirst" ng-options="item as item.name for item in agentdata.availableOptions track by item.id" ></select>
                        <div>
                           <button id="toggle1">Hide Underlying Select</button>
                        </div>
                     </div>
                  </div>
                    <div class="row" style="padding:2px">
                     <div class="ui-widget col-md-6">
                        <label>2nd role </label>
                        <input hidden id="combobox2input" class="comboboxinput"/>
                        <select id='combobox2' class="comboboxGroup" ng-model="sourceForm.rolesecond" ng-options="item as item.name for item in secondroledata.availableOptions track by item.id" ></select>
                        <div>
                           <button id="toggle2">Hide Underlying Select</button>
                        </div>
                     </div>
                  </div>
                  <div class="row" style="padding:2px">
                     <div class="col-md-2" style="font-weight:bold">
                        from:
                     </div>
                     <div class="col-md-4">
                        <datepicker class="picker" date-year-title="selected title" date-format='yyyy-MM-dd'>
                           <input ng-model="sourceForm.startdate"/>
                        </datepicker>
                     </div>
                     <div class="col-md-4">
                        ("yyyy-mm-dd")
                     </div>
                  </div>
                  <div class="row" style="padding:2px">
                     <div class="col-md-2" style="font-weight:bold">
                        to:
                     </div>
                     <div class="col-md-4">
                        <datepicker class="picker" date-year-title="selected title" date-format='yyyy-MM-dd'>
                           <input ng-model="sourceForm.enddate"/>
                        </datepicker>
                     </div>
                       <div class="col-md-4">
                        ("yyyy-mm-dd")
                     </div>
                  </div>
                  <div class="row" style="padding:2px">
                     <div class="col-md-3">   
                        <label> <input type="checkbox" name="sourcecheck" id="sourceflag" ng-model="sourceForm.sourceflag">not sure?</label>
                     </div>
                     <div class="col-md-3  col-md-offset-6">
                        <button type="button" class="btn btn-success" ng-click="sourceForm.submitSourceForm()" style="padding:2px;width:100px;">commit</button>
                     </div>
                  </div>
                 
               </form>
               </div>
                <div id="tabs-2">
                <div id="summary"></div>
                </div>
            </div>
            <div class="heading row well well-sm" style="height:27px"><strong>Verb Tagging Section</strong><div>
            <form id="verbForm">
             
            <div class="verbwell row well well-lg" style="height:315px;margin-bottom:0px;background-color:#fbc97f;">
             
              <strong>Verb:</strong><input id="verbword">

              
               <div class="row" style="padding:2px">
                
                  <div class="ui-widget col-md-6">
                     <input hidden id="combobox6input" class="comboboxinput"/>
                     <select id='combobox3' ng-options="item as item.name for item in verbdata.availableOptions track by item.id" ng-model="selected3"></select>
                     <div>
                        <button id="toggle3">Hide Underlying Select</button>
                     </div>
                  </div>
                 
               </div>
                <div class="row" style="padding:2px">
                 
                  <div class="col-md-3">
                     <label> <input type="checkbox" name="verbcheck" id="verbflag" >not sure?</label>
                  </div>
                   <div class="col-md-3 col-md-offset-6">
                     <button type="button" class="btn btn-success" ng-click="verbForm.submitVerbForm()" style="padding:2px;width:100px;">commit</button>
                  </div>
               </div>
                  </form>
               </div>
            </div>
            
         </div>
      </div>
   </div>
</div>
 
 <!-- sometimes the dialog not load might because the way u render it in a javascript file may need to make it an object like my company setup structure -->
   <script>
   $(function(){
           
      $.ajax({
        method: "GET",
        url:"/getSentenceTotalCount",
      
        success:function(result){
          $('#sentenceCountTotal').text(result);
     }
   });

 
     $.ajax({
        method: "GET",
        url:"/getTotalAndFlaggedSourceCountArray",
      
        success:function(result){
           var sourceCountArray=[];
          sourceCountArray.push(result[0]-result[1]);
          sourceCountArray.push(result[1]); 
        var data = [{
        values:sourceCountArray,
        labels: ['Confidence', 'Doubt'],
        type: 'pie'
      }];

      var layout = {
        height: 300,
        width: 400
      };
      $('#sourceCountTotal').text(result[0]);
     Plotly.plot('sourcePie', data, layout);
        }
      });

      $.ajax({
        method: "GET",
        url:"/getTotalAndFlaggedVerbCountArray",
      
        success:function(result){

         var verbCountArray=[];
          verbCountArray.push(result[0]-result[1]);
          verbCountArray.push(result[1]); 
        var data1= [{
        values:verbCountArray,
        labels: ['Confidence', 'Doubt'],
        type: 'pie'
      }];

      var layout1 = {
        height: 300,
        width: 400
      };
      $('#verbCountTotal').text(result[0]);
      Plotly.plot('verbPie', data1, layout1);
        }
      });
  

   });
   </script>


<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.