<link rel="stylesheet" href="css/angular-datepicker.css">
<link rel="stylesheet" href="css/autocomplete.css">
<link rel="stylesheet" href="css/homepage.css">
<!-- SPELLS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="js/jqueryAutocomplete.js"></script>
<script src="js/jqueryAddTab.js"></script>
  <style>
    .custom-combobox {
      position: relative;
      display: inline-block;
    }
    .custom-combobox-toggle {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      padding: 0;
    }
    .custom-combobox-input {
      margin: 0;
      padding: 5px 10px;
    }
  </style>

<div  ng-controller="mainController">
   <div class="container" >
      <div class="row">
         <div class="col-md-4 well well-lg" style="height:1190px;padding-top:0">
            <div class="row">
               <div class="col-md-5">
               <button type="button" class="btn btn-success" style="padding:2px;width:100px;float:left;margin:10px" ng-click="signmeOut()">Sign Out</button>
                </div>
                <div class="col-md-7">
               <button type="button" class="btn btn-success" style="padding:2px;width:160px;float:left;margin:10px">Track Your Performance</button>
                </div>
              </div>
            <div id="currentSentence" class="row well">
              <strong>{{wholeSentence}}</strong>
            </div>
            <div class="row well">
            <strong>Source:</strong>
            {{sentenceSource}}
            </div>
            <div class="row well">
            <strong>Verb:</strong>
            {{sentenceVerb}}
            </div>
            <div class="row well">
            <strong>Target:</strong>
            {{sentenceTarget}}
            </div>
            <div class="row">
            <div class="col-md-5">
               <button type="button" class="btn btn-success" style="padding:2px;width:120px;float:left;margin:10px" ng-click="nextSentence()">Next Sentence</button>
                </div>
                <div class="col-md-7">
               <button type="button" class="btn btn-success" style="padding:2px;width:160px;float:left;margin:10px" ng-click="commitSentence()">Commit Sentence</button>
                </div>
            </div>
         </div>
         <div class="col-md-8">
            <div id="tabs" class="source row well well-lg"  style="height:470px;margin-bottom:5px;">
               <ul id="sourceTabs">
                  <li><a href="#tabs-1" id="tabid1">Add-Source-Role</a></li>
                  <li><a href="#tabs-2" id="tabid2">Source-Summary</a></li>
               </ul>
               <div id="tabs-1">
                 <form id="sourceForm">
                  <input id="sourceWord"/>
                  <div class="row" style="padding:0px">
                     <div class="col-md-6" style="font-weight:bold">ACTOR-SECTION</div>
                     <div class="col-md-3 col-md-offset-3">
                        <button type="button" id="addSource" class="glyphicon glyphicon-plus" style="background-color:#5cb85c" >Add Another Role</button>
                     </div>
                  </div>
                  <div class="row" style="padding:2px">

                     <div class="ui-widget col-md-6">
                        <label>country </label>
                        <input hidden id="combobox0input" class="comboboxinput"/>
                        <select id='combobox0' class="comboboxGroup" ng-model="sourceForm.country" ng-options="item as item.name for item in actordata.availableOptions track by item.id" ></select>
                        <div>
                           <button id="toggle0">Hide Underlying Select</button>
                        </div>
                     </div>
                  </div>
                 
                  <div class="row" style="padding:2px">
                     <div class="ui-widget col-md-6">
                        <label>1st role</label>
                        <input hidden id="combobox1input" class="comboboxinput"/>
                        <select id='combobox1' class="comboboxGroup" ng-model="sourceForm.rolefirst" ng-options="item as item.name for item in agentdata.availableOptions track by item.id" ></select>
                        <div>
                           <button id="toggle1">Hide Underlying Select</button>
                        </div>
                     </div>
                  </div>
                    <div class="row" style="padding:2px">
                     <div class="ui-widget col-md-6">
                        <label>2nd role </label>
                        <input hidden id="combobox2input" class="comboboxinput"/>
                        <select id='combobox2' class="comboboxGroup" ng-model="sourceForm.rolesecond" ng-options="item as item.name for item in secondroledata.availableOptions track by item.id" ></select>
                        <div>
                           <button id="toggle2">Hide Underlying Select</button>
                        </div>
                     </div>
                  </div>
                
                  <div class="row" style="padding:2px">
                     <div class="col-md-2" style="font-weight:bold">
                        from:
                     </div>
                     <div class="col-md-6">
                        <datepicker class="picker" date-year-title="selected title" date-format='yyyy-MM-dd'>
                           <input ng-model="sourceForm.startdate"/>
                        </datepicker>
                     </div>
                     <div class="col-md-3 col-md-offset-1">
                        <label> <input type="checkbox" name="sourcecheck" id="sourceflag" ng-model="sourceForm.sourceflag">sure?</label>
                     </div>
                  </div>
                  <div class="row" style="padding:2px">
                     <div class="col-md-2" style="font-weight:bold">
                        to:
                     </div>
                     <div class="col-md-6">
                        <datepicker class="picker" date-year-title="selected title" date-format='yyyy-MM-dd'>
                           <input ng-model="sourceForm.enddate" />
                        </datepicker>
                     </div>
                     <div class="col-md-3 col-md-offset-1">
                        <button type="button" class="btn btn-success" ng-click="sourceForm.submitSourceForm()" style="padding:2px;width:100px;">commit</button>
                     </div>
                  </div>
               </form>
               </div>
                <div id="tabs-2">
                <div id="summary"></div>
                </div>
            </div>
            <div class="verbwell row well well-lg" style="height:240px;margin-bottom:0px;background-color:#fbc97f;">
               <div class="row" style="padding:0px">
                  <div class="col-md-6" style="font-weight:bold">VERB-SECTION</div>
                  <div class="col-md-3 col-md-offset-3">
                     <label> <input type="checkbox" name="verbcheck" id="verbflag" >sure?</label>
                  </div>
               </div>
               <div class="row" style="padding:2px">
                 <form id="verbForm">
                  <input id="verbword"/>
                  <div class="ui-widget col-md-6">
                     <label>verb....</label>
                     <input hidden id="combobox6input" class="comboboxinput"/>
                     <select id='combobox3' ng-options="item as item.name for item in verbdata.availableOptions track by item.id" ng-model="selected3"></select>
                     <div>
                        <button id="toggle3">Hide Underlying Select</button>
                     </div>
                  </div>
                  <div class="col-md-3 col-md-offset-3">
                     <button type="button" class="btn btn-success" ng-click="verbForm.submitVerbForm()" style="padding:2px;width:100px;">commit</button>
                  </div>
                  </form>
               </div>
            </div>
             <div id="tabs1" class="target row well well-lg"  style="height:470px;margin-bottom:5px;">
               <ul id="targetTabs">
                  <li><a href="#tabs-3" id="tabid3">Add-Target-Role</a></li>
                  <li><a href="#tabs-4" id="tabid4">Target-Summary</a></li>
               </ul>
               <div id="tabs-3">
                 <form id="targetForm">
                  <input id="targetWord"/>
                  <div class="row" style="padding:0px">
                     <div class="col-md-6" style="font-weight:bold">TARGET-SECTION</div>
                     <div class="col-md-3 col-md-offset-3">
                        <button type="button" id="addTarget" class="glyphicon glyphicon-plus" style="background-color:#5cb85c" >Add Another Role</button>
                     </div>
                  </div>
                  <div class="row" style="padding:2px">

                     <div class="ui-widget col-md-6">
                        <label>country </label>
                        <input hidden id="combobox3input" class="comboboxinput"/>
                        <select id='combobox4' class="comboboxGroup" ng-model="targetForm.country" ng-options="item as item.name for item in actordata.availableOptions track by item.id" ></select>
                        <div>
                           <button id="toggle4">Hide Underlying Select</button>
                        </div>
                     </div>
                  </div>
                 
                  <div class="row" style="padding:2px">
                     <div class="ui-widget col-md-6">
                        <label>1st role</label>
                        <input hidden id="combobox4input" class="comboboxinput"/>
                        <select id='combobox5' class="comboboxGroup" ng-model="targetForm.rolefirst" ng-options="item as item.name for item in agentdata.availableOptions track by item.id" ></select>
                        <div>
                           <button id="toggle5">Hide Underlying Select</button>
                        </div>
                     </div>
                  </div>
                    <div class="row" style="padding:2px">
                     <div class="ui-widget col-md-6">
                        <label>2nd role </label>
                        <input hidden id="combobox5input" class="comboboxinput"/>
                        <select id='combobox6' class="comboboxGroup" ng-model="targetForm.rolesecond" ng-options="item as item.name for item in secondroledata.availableOptions track by item.id" ></select>
                        <div>
                           <button id="toggle6">Hide Underlying Select</button>
                        </div>
                     </div>
                  </div>
                
                  <div class="row" style="padding:2px">
                     <div class="col-md-2" style="font-weight:bold">
                        from:
                     </div>
                     <div class="col-md-6">
                        <datepicker class="picker" date-year-title="selected title" date-format='yyyy-MM-dd'>
                           <input ng-model="targetForm.startdate"/>
                        </datepicker>
                     </div>
                     <div class="col-md-3 col-md-offset-1">
                        <label> <input type="checkbox" name="targetcheck" id="targetflag" ng-model="targetForm.targetflag">sure?</label>
                     </div>
                  </div>
                  <div class="row" style="padding:2px">
                     <div class="col-md-2" style="font-weight:bold">
                        to:
                     </div>
                     <div class="col-md-6">
                        <datepicker class="picker" date-year-title="selected title" date-format='yyyy-MM-dd'>
                           <input ng-model="targetForm.enddate" />
                        </datepicker>
                     </div>
                     <div class="col-md-3 col-md-offset-1">
                        <button type="button" class="btn btn-success" ng-click="targetForm.submitTargetForm()" style="padding:2px;width:100px;">commit</button>
                     </div>
                  </div>
               </form>
               </div>
                <div id="tabs-4">
                <div id="summaryTarget"></div>
                </div>
            </div>
            
         </div>
      </div>
   </div>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.