
<div class="card" style="width: 60rem;background-color: lightgoldenrodyellow;margin-top:20px">
  <div class="card-body">

   <h4 class="card-title"><Strong>Barak Obama</Strong></h4>
   <h6 class="card-subtitle mb-2 text-muted"><strong>USA President</strong></h6>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Country</li>
    <li class="list-group-item">Primary</li>
    <li class="list-group-item">Secondary</li>
    <li class="list-group-item">DateRange</li>
    <li class="list-group-item"> <a href="#">wiki link</a></li>
   
  </ul>
   </div>
</div>


<div class="card" style="width: 60rem;background-color: lightgoldenrodyellow;margin-top:20px">
  <div class="card-body">

   <h4 class="card-title"><Strong>Barak Obama</Strong></h4>
   <h6 class="card-subtitle mb-2 text-muted"><strong>United states senator</strong></h6>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Country</li>
    <li class="list-group-item">Primary</li>
    <li class="list-group-item">Secondary</li>
    <li class="list-group-item">DateRange</li>
    <li class="list-group-item"> <a href="#">wiki link</a></li>
   
  </ul>
   </div>
</div>
